@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

body {
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    text-align: center;
}

h1 {
    font-size: 54px !important;
}

h2 {
    font-size: 42px;
    line-height: 100%;
}

h1, h2 {
    font-weight: 500;
}

p {
    font-size: 18px;
}

.table-cell {
    display: table-cell !important;
    float: none !important;
}

.learn-more-btn {
    display: inline-block;
    padding: 15px 32px;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    background: #FFFFFF;
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 60px;
}
.learn-more-btn.black {
    background-color: #232323;
    color: #ffffff;
    border: none;
}

.navbar-default .navbar-collapse {
    /*border: none;*/
}
.navbar.navbar-default {
    border-radius: 0;
    background-color: #FFFFFF;
    margin-bottom: 0;
}
.navbar.navbar-default .container-fluid {
    padding: 0 100px;
}
.navbar-default .navbar-brand {
    margin-left: 0;
    padding: 30px;
    font-weight: 500;
    font-size: 21px;
    line-height: 100%;
    letter-spacing: 8.4px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
}
.navbar-default .navbar-nav>li>a {
    font-size: 18px;
    padding: 30px 16px;
    line-height: 100%;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.4) !important;
}
.navbar-default .navbar-nav>.active>a {
    color: rgba(0, 0, 0, 0.7) !important;
    font-weight: 500;
    background-color: #ffffff !important;
    border-bottom: 4px solid #C4C4C4;
}

.slide-1 .top {
    background: url("../images/bg.png");
    background-size: cover;
    background-position: center;
    display: block;
    float: left;
    width: 100%;
    height: calc(100vh - 81px);
    padding-right: 30px;
    padding-left: 30px;
}
    .slide-1 .top h1 {
        color: #FFFFFF;
        padding-right: 15px;
        padding-left: 15px;
        max-width: 700px;
        margin: calc(33vh - 81px) auto 0;
    }
    .slide-1 .top p {
        display: block;
        max-width: 750px;
        margin: 10px auto 0;
        line-height: 100%;
        color: rgba(255, 255, 255, 0.8);
    }

.slide-2,
.slide-3,
.slide-4,
.slide-5,
.slide-6 {
    padding: 60px 0;
}
    .slide-2 h2,
    .slide-3 h2,
    .slide-4 h2,
    .slide-5 h2,
    .slide-6 h2 {
        font-size: 48px;
        color: rgba(0, 0, 0, 0.7);
        margin-top: 0;
        margin-bottom: 30px;
    }
    .slide-2 p,
    .slide-3 p,
    .slide-4 p,
    .slide-5 p,
    .slide-6 p {
        display: block;
        max-width: 750px;
        margin: 10px auto 60px;
        line-height: 100%;
        color: rgba(0, 0, 0, 0.5);
    }

    .slide-2 .skills {
        background-color: #F6F6F6;
        display: table;
        padding: 0;
    }
    .slide-2 .skills .list-container {
        display: table-cell;
        float: none;
        vertical-align: middle;
    }
        .slide-2 .skills-list {
            font-size: 21px;
            font-weight: 600;
            display: inline-block;
            text-align: left;
            vertical-align: -webkit-baseline-middle;
            margin: auto;
            padding: 0;
        }
        .slide-2 .skills-list > li {
            display: block;
            list-style-image: url("../images/plus-icon.svg");
            margin: 10px 0;
        }
        .slide-2 .skills-list > li .inline-emoji {
            margin-bottom: 4px;
            margin-right: 12px;
        }

    .slide-2 .skills .img-container {
        padding: 0;
    }
    .slide-2 .skills .skills-img {
        display: inline-block;
        /*padding: 0;*/
    }

.slide-3,
.slide-5 {
    background-color: #232323;
}
    .slide-3 h2,
    .slide-5 h2 {
        color: #FFFFFF;
    }
    .slide-3 p,
    .slide-5 p {
        color: rgba(255, 255, 255, 0.8);
    }

    .slide-3 .case {
        height: 450px;
        display: table;
    }
        .slide-3 .case h2 {
            display: table-cell;
            float: none;
            vertical-align: middle;
            margin: auto;
        }
        .slide-3 .case:first-child {
            background-color: #BDBDBD;
        }
        .slide-3 .case:nth-child(2) {
            background-color: #828282;
        }
        .slide-3 .case:last-child {
            background-color: #4F4F4F;
        }


.slide-4 .case {
    height: 450px;
}
    .slide-4 .case {
        background-size: cover;
    }
        .slide-4 .case:first-child {
            background: url("../images/mask.png") center;
        }
        .slide-4 .case:nth-child(2) {
            background: url("../images/mask.png") center;
        }
        .slide-4 .case:last-child {
            background: url("../images/mask.png") center;
        }

.slide-5 .testimonials-carousel {
    padding: 0;
    margin-bottom: 30px;
}
    .slide-5 .testimonials-carousel .carousel-inner {
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        background-color: #F6F6F6;
    }
    .slide-5 .testimonials-carousel .testimonial p {
        color: rgba(0, 0, 0, 0.5) !important;
    }
    .slide-5 .testimonials-carousel .testimonial .test-icon {
        margin: 30px auto;
        padding: 20px;
        background-color: #C4C4C4;
        border-radius: 100px;
        display: inline-block;
    }
            .slide-5 .testimonials-carousel .testimonial .test-icon > img {
                width: 20px;
            }
    .slide-5 .testimonials-carousel .testimonial .description {
        margin: 0 auto 30px;
    }
    .slide-5 .testimonials-carousel .testimonial .heading {
        font-weight: 600;
        color: #000000;
        margin-bottom: 10px;
    }
    .slide-5 .testimonials-carousel .testimonial .sub-heading {
        margin-bottom: 30px;
    }

    .slide-5 .testimonials-carousel .carousel-indicators {
        bottom: -60px;
    }
        .slide-5 .testimonials-carousel .carousel-indicators li {
            background: #ffffff;
            opacity: .2;
            width: 14px;
            height: 14px;
        }
        .slide-5 .testimonials-carousel .carousel-indicators .active {
            width: 16px;
            height: 16px;
            opacity: 1;
        }

#contactForm {

}
    #contactForm input[type=text],
    #contactForm input[type=email] {
        display: block;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        padding: 20px;
        margin-bottom: 20px;
    }
    #contactForm .last {
        margin-bottom: 0 !important;
    }
    #contactForm input:focus{
        outline: none;
    }

#footer {
    display: block;
    width: 100%;
    background-color: #232323;
}

.footer-inner {
    padding: 30px 0;
}


@media (max-width: 1199px) {
    .navbar.navbar-default .container-fluid {
        padding: 0 20px;
    }
}

@media (max-width: 944px) {
    .navbar.navbar-default .container-fluid {
        padding: 0 10px;
    }

    .navbar-default .navbar-brand {
        padding: 30px 10px 30px 20px;
    }

    .navbar-default .navbar-nav>li>a {
        padding: 30px 10px;
    }
}

@media (max-width: 767px) {
    .container-fluid>.navbar-header {
        height: 60px;
    }
    .navbar-toggle {
        margin-top: 14px !important;
        margin-right: 30px !important;
    }

    .navbar-default .navbar-brand {
        padding-top: 23px;
        padding-left: 45px;
    }

    .navbar-default .navbar-nav>li>a {
        padding: 16px 10px;
    }

    .navbar-default .navbar-nav>.active>a {
        border-bottom: none;
    }
}

@media (max-width: 380px) {
    .slide-1 .top {
        padding-right: 20px;
        padding-left: 20px;
    }
}
